.agent-details {
  position: fixed;
  top: 10px;
  right: 10px;

  .agent-card {
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    .quick-nav-row {
      display: flex;
      justify-content: end;
    }
  }
}
